html {
	overflow: auto;
}

body {
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #25272B;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
}

@font-face
{
font-family: CondorWide Medium;
src: url('font/CondorWide Medium.ttf')
    ,url('font/CondorWide Medium.ttf'); /* IE9 */
}

::selection {
	background: #4d90fe;
	color:#fff;
}

::-moz-selection {
	background: #4d90fe;
	color:#fff;
}

/* ==== Spacing ==== */

.margin25 {
	margin-top: 25%;
}

.divide {
	margin-top: 5%;
	margin-bottom: 5%;
}

.divider {
	border-bottom: 1px dashed #dfe1e3;
}

/* ==== Typography ==== */

h1 {
	font-size: 56px;
	text-align: center;
	margin-bottom: 35px;
	line-height: 1;
	letter-spacing: -3px;
}

@media (max-width: 767px) {
	h1 {
		font-size: 32px;
	}
}

p {
	margin-bottom: 35px;
}

p.center {
	text-align: justify;
}

h4 {
	font-size: 13px;
	font-weight: 100;
	color: #bbbdc0;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	margin: 35px 0;
}

#footer h5 {
	border-bottom: 1px solid #dfe1e3;
	padding-bottom: 15px;
	margin-top: 15px;
}

a {
	font-size: 14px;
	color: #25272B;
	transition: 0.2s;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
}

a:hover {
	color: #949598;
	text-decoration: none;
	transition: 0.2s;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
}

#services i {
	font-size: 170px;
	color: #bbbdc0;
	line-height: 1.2 !important;
}

textarea:focus, input:focus, a:focus, *:focus {
	outline: none;
}

.navbar .nav .active a, .navbar .nav .active a:hover, .navbar .nav .active a:focus {
	background-color: transparent !important;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
}

/* ==== Intro ==== */

#intro {
	background: #fff;
	min-height: 460px;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzVlNWY2MCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYmJkYzAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(94,95,96,0) 50%, rgba(187,189,192,0.1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(94,95,96,0)), color-stop(100%,rgba(187,189,192,0.1)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(94,95,96,0) 50%,rgba(187,189,192,0.1) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(94,95,96,0) 50%,rgba(187,189,192,0.1) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(94,95,96,0) 50%,rgba(187,189,192,0.1) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(94,95,96,0) 50%,rgba(187,189,192,0.1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1abbbdc0',GradientType=0 );
	background-image:url("../images/body-bg.png");
	width:100%;
	background-size:100%;
}

#intro h2 {
	font-size: 56px;
	text-align: center;
	font-weight: 700;
	color: #bbbdc0;
	letter-spacing: -3px;
	line-height: 1;
}

@media (max-width: 570px) {
	#intro h2 {
		font-size: 42px;
		color: #bbbdc0;
		letter-spacing: -1px;
		padding-top: 25%;
	}
}

/* ==== Page Header ==== */

h1.header {
	font-size: 90px;
	color: #fff;
	font-weight: 700;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	text-align: center;
	line-height: 1;
	margin-bottom: 15px;
	letter-spacing: -2px;
}

@media (max-width: 767px) {
	h1.header {
		font-size: 42px;
	}
}

p.header {
	font-size: 26px;
	color: #fff;
	font-weight: 100;
	text-align: center;
	line-height: 1;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
	p.header {
		font-size: 18px;
	}
}

/* ==== Section Headers ==== */

#services-top-desktop {
	background: #fff url(../img/services_bg.jpg) fixed no-repeat center;
	background-size: cover;
}

#services-top-mobile {
	background: #fff url(../img/services_bg.jpg) no-repeat center;
}

#works-top-desktop {
	background: #fff url(../img/works_bg.jpg) fixed no-repeat center;
	background-size: cover;
}

#works-top-mobile {
	background: #fff url(../img/works_bg.jpg) no-repeat center;
}

#gallery-top-desktop {
	background: #fff url(../img/gallery_bg.jpg) fixed no-repeat center;
	background-size: cover;
}

#gallery-top-mobile {
	background: #fff url(../img/gallery_bg.jpg) no-repeat center;
}

#team-top-desktop {
	background: #fff url(../img/team_bg.jpg) fixed no-repeat center;
	background-size: cover;
}

#team-top-mobile {
	background: #fff url(../img/team_bg.jpg) no-repeat center;
}

#contact-top-desktop {
	background: #fff url(../img/contact_bg.jpg) fixed no-repeat center;
	background-size: cover;
}

#contact-top-mobile {
	background: #fff url(../img/contact_bg.jpg) no-repeat center;
}

#services-top-desktop,
#works-top-desktop,
#gallery-top-desktop,
#team-top-desktop,
#contact-top-desktop,
#services-top-mobile,
#works-top-mobile,
#gallery-top-mobile,
#team-top-mobile,
#contact-top-mobile {
	padding: 75px 0;
}

@media (max-width: 1024px) {
	#services-top-desktop,
	#works-top-desktop,
	#gallery-top-desktop,
	#team-top-desktop,
	#contact-top-desktop {
		background-size: auto;
	}
}

/* ==== Sections ==== */

#services,
#works,
#gallery,
#contact  {
	padding-right: 20px;
	padding-left: 20px;
	background: #fff;
}

#team  {
	padding-right: 20px;
	padding-left: 20px;
	background: #f4f5f6;
}

#hint1  {
	padding-right: 20px;
	padding-left: 20px;
	background: #4d90fe;
	padding: 15px;
	text-align: center;
}

#hint2  {
	padding-right: 20px;
	padding-left: 20px;
	background: #4d90fe;
	padding: 15px;
	text-align: center;
}

#hint3  {
	padding-right: 20px;
	padding-left: 20px;
	background: #4d90fe;
	padding: 15px;
	text-align: center;
}

#hint1 a, #hint2 a, #hint3  a {
	color: #fff;
}

/* ==== Contact ==== */

input[type="text"], select, textarea {
	border: 1px solid #EEE;
	background: #f4f5f6;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
}

#address {
	text-align: center;
	float:right;
}

.honeypot {
	display: none;
}

.message {
	display: none;
}

.alert {
    padding: 5px 15px 5px 15px;
	margin: 8px 0 0 0;
}

/* ==== Footer ==== */

#footer {
	padding-right: 20px;
	padding-left: 20px;
	background-color: #eeeff2;
	border-top: 1px solid #e9ebed;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
}

#footer .span2 {
	border-bottom: 1px solid #dfe1e3;
	padding-bottom: 15px;
}

#footer ul {
	list-style: none;
	margin:0;
}

#footer li {
	padding-bottom: 5px;
	text-align: right;
}

@media (max-width: 767px) {
	#footer li {
		padding-bottom: 5px;
		text-align: center;
	}
}

/* ==== Navigation ==== */

#navigation {
	background: #fff;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-ms-box-shadow: none !important;
	-o-box-shadow: none !important;
}

/* fix for small android devices */
@media (max-width: 240px) {
	.navbar .brand {
		margin-left: -12px;
	}
}

.navbar-fixed-top {
	position: fixed;
}
.nav li a{
	background:transparent;
	color:#848484!important;
	
	transition:all 1s;
	-moz-transition:all 1s; /* Firefox 4 */
	-webkit-transition:all 1s; /* Safari and Chrome */
	-o-transition:all 1s;/* Opera */
	

}
/* navbar_changes*/
.nav li{
	background: transparent;
	-webkit-transition: background linear 2s;
	 -moz-transition: background linear 2s;
	 -o-transition: background linear 2s;
	  transition: background linear 2s;
	 
}

.nav li:hover {
	

	background: #a0a0a0; /* Old browsers */
	/*background: -moz-linear-gradient(top,  #a0a0a0 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0a0a0), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a0a0a0 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a0a0a0 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a0a0a0 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a0a0a0 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a0a0', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	 transition-duration: 2s
	 
}

.nav a {
	color: #25272B !important;
}

.nav a:hover {
	color: #F24BD0 !important;
}

.nav .active a {
	color: #F24BD0 !important;
}

.navbar .nav .active a, .navbar .nav .active a:hover {
	background: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	color:#F24BD0;
	height:15px;
	background: #a0a0a0; /* Old browsers */
	outline:none;
background: -moz-linear-gradient(top,  #a0a0a0 0%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0a0a0), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a0a0a0 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a0a0a0 0%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a0a0a0 0%,#cccccc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a0a0a0 0%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a0a0', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.navbar .nav li a {
	text-shadow: none;
	text-align: center;
	padding: 20px 15px 20px 15px;
}

.navbar-inner {
	background: #CCCCCC;
	border: none;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-ms-box-shadow: none !important;
	-o-box-shadow: none !important;
	filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}

.navbar-fixed-top .navbar-inner {
	padding: 0;
}

.navbar-fixed-top {
	margin: auto;
}

.navbar .btn-navbar {
	float: right;
	padding: 12px 12px;
	margin: 12px 0;
}

.nav-collapse .nav li a:hover, .nav-collapse .dropdown-menu a:hover {
	background-color: transparent;
}

.nav-collapse .nav li a  {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 10px;
	height:15px;
	outline:none;
}

@media (max-width: 979px) {
	.navbar  {
	padding: 0 20px;
	margin-bottom: 0;
	}
}

@media (max-width: 979px) {
	.nav-collapse .nav li a, .nav-collapse .dropdown-menu a {
	padding: 9px 15px;
	}
}

/* ==== Carousel ==== */

.carousel-control.m-btn {
	position: absolute;
	height: auto;
	width: auto;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.carousel-inner .item img {
	display: inline-block !important;
}

.carousel-inner .item {
	text-align: center !important;
}

@media (max-width: 570px) {
	.carousel-control.left {
		left: 0;
	}
	.carousel-control.right {
		right: 0;
	}
}

.carousel-control {
	background: none;
	border: none;
	opacity: 1;
}

.carousel-control:hover {
	background: none;
	border: none;
	opacity: 1;
}

.carousel.horizontal .next {
	left: 100%;
}

.carousel.horizontal .prev {
	left: -100%;
}

.carousel.horizontal .active.left {
	left: 100%;
}

.carousel.horizontal .active.right {
	left: -100%;
}

.carousel.carousel-fade .item {
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	opacity:0;
}

.carousel.carousel-fade .active.item {
	opacity:1;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
	left: 0;
	z-index: 2;
	opacity: 0;
	filter: alpha(opacity=0);
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
	left: 0;
	z-index: 1;
}

.carousel.carousel-fade .carousel-control {
	z-index: 3;
}

.vertical .carousel-inner {
	height: 100%;
}

.carousel.vertical .item {
	-webkit-transition: 0.6s ease-in-out top;
	-moz-transition: 0.6s ease-in-out top;
	-ms-transition: 0.6s ease-in-out top;
	-o-transition: 0.6s ease-in-out top;
	transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
	top: 0;
}

.carousel.vertical .next {
	top: 100%;
}

.carousel.vertical .prev {
	top: -100%;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
	-webkit-transition: ease-in-out top;
	-moz-transition: ease-in-out top;
	-ms-transition: ease-in-out top;
	-o-transition: ease-in-out top;
	transition: ease-in-out top;
}

.carousel.vertical .active.left {
	top: 100%;
}

.carousel.vertical .active.right {
	top: -100%;
}

.carousel.vertical .item {
	left: 0;
}

.carousel .inactive {
	position: absolute;
	display: block;
	z-index: -1;
}

.carousel .inactive.active {
	position: relative !important;
	z-index: 0;
}

/* ==== Thumbs ==== */

.thumbnail {
	border: 0;
	padding: 0;
	text-align: center;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
}

.thumbnail h4 {
	color: #F24BD0;
	padding: 20px;
	margin: 0;
	font-size: 20px;
	font-weight: 700;
	text-transform: none;
	letter-spacing: -1px;
}

.thumbnail span {
	font-size: 13px;
	color: #bbbdc0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 100;
}

.thumbnail p {
	margin: 0;
}

/* ==== Team ==== */

#team .thumbnail {
	background-color: #FFFFFF;
	border: 0;
	padding: 0;
	margin-bottom: 35px;
	text-align: center;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

#team.thumbnail h4 {
	color: #4d90fe;
	padding: 20px;
	margin: 0;
	font-size: 20px;
	font-weight: 300;
	text-transform: none;
	letter-spacing: -1px;
}

#team.thumbnail span {
	font-size: 13px;
	color: #bbbdc0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 100;
}

#team.thumbnail p {
	padding: 20px;
	margin: 0;
}

/* ====  Footer Social ==== */

#footer .facebook {
	color: #3B5998;
}

#footer .twitter {
	color: #09C;
}

#footer .google {
	color: #dd4b38;
}

#footer .instagram {
	color: #3F729B;
}

#footer .pinterest {
	color: #CB2027;
}

#footer .facebook:hover,
#footer .twitter:hover,
#footer .pinterest:hover,
#footer .instagram:hover,
#footer .google:hover {
	opacity: 0.6;
}

/* ==== Preloader ==== */

#preloader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 9999;
	margin-top:58px;
}

#status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../img/preload.gif);
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
}

/* ==== Intro more button ==== */

#more {
	text-align: center;
	position: absolute;
	right: 0;
	left: 0;
	bottom: -5px;
}

.delay {
	animation-delay: 2s;
	-moz-animation-delay: 2s;
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
}

.animated {
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}




/*my custom style starting here*/



		input, button, select, textarea {
    font-family: arial;
}
#container{
	height:auto;
	width:100%;
	background:url(images/hite3.png);
	background-repeat: repeat-x;
}
#container .wrapper{
	width:800px;
	height:auto;
	margin:auto auto;
	vertical-align:middle;
	
}
#container .wrapper2{
	width:700px;
	height:500px;
	margin:auto auto;
	vertical-align:mi2s
	
}
.wrapper .content-box{
	vertical-align:middle;
	height:200px;
	margin:auto;
	width:600px;
	margin-top:250px;
	/*margin:300px auto 300px 300px;*/
}
.content-box .form{
	margin:auto auto;
	float:left;
	padding:80px 50px 70px 55px;
	position:relative;
	z-index:200;
	
}
.content-box img{
	float: left;
}
.form input{
	margin-bottom:0;
	font-family:condorwide medium;
	font-size:11px;
	color:#7E7E7E;
}

.form input[placeholder]{
	color:#555555;
	font-size:11px;
	font-family:'CondorWide Medium';
	margin-left:-5px;
}
.form a{
	text-decoration:none;
	color:#e545a2;
	margin-left:7px;
	font-size:10px;
	font-family:'CondorWide Medium';
}
.btn .btn-default{
	margin-bottom:-10px;
}
.btn:focus{
	outline:none;
}
.horizontal-line{
	border-color:#bfbfbf;
    color: #bfbfbf;
    margin: 1px 0 1px 10px;
}
#home_footer{
	height:auto;
	width:100%;
	background:#dfdfdf;
	float:left;
	
	cursor:default;
}
.footer-upper{
	height:87px;
	opacity:.6;
	width:100%;
	background:#dfdfdf;
	text-align:center;
	vertical-align:middle;
	line-height:0;
}
.footer-upper p{
	font-size:11px;
	color:#3b3b3b;
	padding-top:30px;
	cursor:default;
	margin-bottom:10px;
}
.footer-upper:hover p{
	color:#646262;
}
.footer-upper .text{
	padding-top:2px;
}
#home_footer .footer-wrapper{
	width:950px;
	height:auto;
	margin:auto auto;
	position:relative;
}
.footer-blog1{
	padding-top:23px;
	float:left;
	margin-right:15px;
	width:370px;
}
.footer-blog1 img:hover{
	opacity:0.8;
}
.footer-blog2{
	padding-top:25px;
	float:left;
	margin-right:40px;
}
.footer-blog2 img:hover{
	opacity:0.8;
}
.footer-blog2 ul{
	padding:15px 20px 20px 0;
}
.footer-blog2 ul li{
	list-style-type:none;
	color:#3b3b3b;
	line-height:22px;
	font-size:11px;
}
.footer-blog2:hover li{
	color:#646262;
}
.footer-blog3{
	padding-top:30px;
	float:left;
}
.footer-blog3 img:hover{
	opacity:0.8;
}
.footer-blog3 ul{
	float:left;
	/*padding-left:15px;*/
}
.footer-blog3 ul li{
	list-style-type:none;
	color:#3b3b3b;
	line-height:22px;
	font-size:11px;
}
.footer-blog3:hover li{
	color:#646262;
}
.footer-nav{
	margin-top:16px;
	float:left;
}
.footer-nav ul li{
	list-style-type:none;
	float:left
}

.footer-nav ul li a{
	padding:10px;
	display:block;
	line-height:28px;
	color:#707070;
	text-decoration:none;
	font-size:11px;
	transition: all 800ms ease 50ms;
}
.footer-nav ul li:hover a{
	color:#ff2faa;
}
.social-links{
	
	height:23px;
	width:389px;
	float:right;
	margin-top:30px;
	margin-right:60px;
	position:relative;
}
.big-skelton{
	float:right; 
	margin-top:-270px;
	height:290px;
}
.back{
background:url('../images/search_background.png');
	
	width:387px;
	margin-left:-2px;
	margin-right:-2px;
	height:180px;
	z-index:10;
	float:left;
	position:relative;
	display:none;
	margin-top:21px;
}
.first{
padding-left:300px;}
/*****  logo ******/
.navbar .brand{
	padding:20px 20px 16px 20px;
}
.company-names img{
	opacity:.5;
	transition:opacity 500ms;
}
.company-names img:hover{
	opacity:1;
}
.company-names .firstnames{
	opacity:.8;
}
.social-links img{
	opacity:.7;
	transition:opacity 300ms;
}
.social-links img:hover{
	opacity:1;
	
}
#footer_slider{
	height:95px;
}
#footer_slider img{
	height:20px;
}
 #footer_slider .slider_img{
 	height:100px;
 	width:122px;
 	float:left;
 	padding-right:20px;
 	/*box-shadow: 0px 0px 20px #000;*/
 	border-radius:5px;
 }
 #footer_slider a:hover  {
 	color: #000;
 }
.footer-blog1 p{
	color:#3B3B3B;
	font-size:11px;
	padding-top:15px;
}



.slider_nav { margin: 0px 0 }
#slider_nav{
	padding-left: 140px;
	width:200px;
	
}
#slider_nav a, #s7 strong { 
/*margin: 0 5px;border-radius:8px; padding:0px 5px; border: 1px solid #ccc; background: #ccc; text-decoration: none*/
	display: inline-block;
	width: 10px;
	height: 12px;
	background: url('../img/footer_slider/bullets.png') no-repeat 0 2px;
	text-indent: -9999px;
	border: 0;
	margin: 0 2px;

 }
 #slider_nav a:hover{
 	color: #0F3647;
 }
 
#slider_nav a.activeSlide { background-position: 0 100% }
#slider_nav a:focus { outline: none; }
.brand img:hover{
	opacity:0.6;
}
#footer_slider a{
	height:100px;
}
@media (max-width: 767px){

.footer-upper{
	height:auto;
}
.footer-upper p{
	line-height: 25px;
}
}
.page_style{
	margin:auto;
	width:870px;
	height:280px;
}
.page_style img{
	float:left;
	height:275px;
	width:330px;
}
.page_style h1{
	/*width:700px;*/
	margin:auto;
	padding-top:80px;
}
.desinBy{
	margin-top:75px;
	font-size:10px;
}
.desinBy a{
	font-size:10px;
}
.design{
	font-size:12px;
}
/*changes*/
.footer-upper a{
	width:95px;
	height:20px;
	font-size:11px;
	color:#000;
}
.footer-upper a:hover {
	color:#000;
}

@media (max-width:979px){
#home_footer .footer-wrapper{
height:auto;
width:auto;
margin-left:10px;

}
.big-skelton{
display:none;
}
.social-links{
float:left;
height:auto;
width: auto;
}
.social-links img{
padding:10px;
}
.company-names img{
padding:10px;
}
}

 .back .btn{
border:none;
}
.back .btn:hover{
background:#F24BD0;
}
.form a:hover{
color:#fff;
}

@media (max-width: 1200px) and (min-width: 979px){
#intro .span12 {
width:1140px;
}
}
/*@media (max-width: 979px){
#intro .span12 {
width:950px;
}
}*/




/* class: .btn-mfast-5,  color theme: mFast */
.btn-mfast-5 { text-shadow: 0px 1px 0px #ffffff; color: #a2a2a2; background-color: #F2F2F2; background-image: -moz-linear-gradient(top, #ffffff, #d4d4d4); background-image: -ms-linear-gradient(top, #ffffff, #d4d4d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#d4d4d4)); background-image: -webkit-linear-gradient(top, #ffffff, #d4d4d4); background-image: -o-linear-gradient(top, #ffffff, #d4d4d4); background-image: linear-gradient(top, #ffffff, #d4d4d4); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d4d4d4', GradientType=0); border-color: #F2F2F2 #d4d4d4 #d4d4d4 #F2F2F2; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-mfast-5:hover, .btn-mfast-5:active, .btn-mfast-5.active, .btn-mfast-5.disabled, .btn-mfast-5[disabled] { background-color: #d4d4d4; }
.btn-mfast-5:hover { color: #8e8e8e; text-shadow: 0px 1px 0px #ffffff; }
.btn-mfast-5:focus { color: #525252; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); border-color: #F2F2F2 #d4d4d4 #d4d4d4 #F2F2F2; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-mfast-5.active, .btn-mfast-5:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #525252; }
/* end .btn-mfast-5 */

